*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background: #ff6161;
    height: 80px;
    width: 100%;
}
label.logo{
    color: aliceblue;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: aliceblue;
    font-size: 17px;
    padding: 6px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.container {
    display: inline-block;
    background: transparent;
    padding: 45px;
    border-radius: 6px;
    margin-top: 200px;
    margin-left: 450px;
}

#btn{
    font-weight: normal;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 135px;
    margin-top: 22px;
    background: yellowgreen;
    border-color: cyan;
    font-family: inherit;

}



